<main>
  <h1 class='text-center'>Hello world!</h1>
  <h2 class='text-end'>Second</h2>
  <h3>3d Title</h3>
  <hr />
  <div class='display-1'>Hello world!</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>3d Title</div>
  <hr />
  <div class='text-end text-muted'>Додатковий текст</div>
  <span class='text-muted'>Додатковий текст</span>
  <hr />
  <div class='text-uppercase'>text-uppercase</div>
  <div class='text-lowercase'>text-lowercase</div>
  <div class='text-capitalize'>text-capitalize</div>
  <hr />
  <button class='btn btn-primary'>Text</button>
</main>